Welcome, <%= @user.username.capitalize %><br>

<br>
Posts(<%= @user.posts.count %>)<br>
<br>
<% @user.posts.each do |post| %>
    <a href="/posts/<%= post.id %>"> <%= post.title %></a>
    <br>
<% end %>

<a href="/posts/new"> Add a new post </a>