<h1> Welcome, <%= @user.username.capitalize %></h1>

<h2> Posts(<%= @user.posts.count %>)</h2>

<% @user.posts.each do |post| %>
    <a href="/posts/<%= post.id %>"> <%= post.title %></a><br>
<% end %><br>

<a href="/posts/new"> Add a new post </a>