<%= @post.title %>
<%= @post.content %><br>

<form method="post" action="/posts/<%= @post.id %>">
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="delete" />
</form>

<a href="/posts/<%= @post.id %>/edit">Edit</a>