<!doctype html>
<html>
  <head>
    <title> Sinatra Blogger </title>
  </head>
  <body>

    <nav>
        <a href="/">Home</a>&nbsp;
        
        <a href="/posts/new"> Create a post </a>&nbsp;

        <% if logged_in? %>
          <a href='/users/<%= current_user.id %>'> Account </a>&nbsp;
          <a href="/logout"> Logout </a>
        <% end %>
    </nav>
    
    <div class="container">
      <h1>Sinatra Blogger</h1>

      <% flash.keys.each do |type| %>
        <div data-alert class="flash <%= type %> alert-box radius">
          <%= flash[type] %>
          <a href="#" class="close">&times;</a>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>