<!doctype html>
<html>
  <head>
    <title>Sinatra Blogger</title>
  </head>
  <body>

    <div class="navbar">
        <a href="/">Home</a>&nbsp;
        
        <a href="/users/#{@current_user.id}"> Account </a>&nbsp;

        <a href="/posts/new"> Create a post </a>&nbsp;

        <% if logged_in?%>
          <a href="/logout"> Logout </a>
        <% end %>

    </div>
    
    <div class="container">
      <h1>Sinatra Blogger</h1>
      <%= yield %>


    </div>
  </body>
</html>